	         		From the creators of <a href="http://tabsonobama.org"><font color="#FFFFFF">TabsOnObama.org</font></a>, rate the Emanuel Administration's performance from 1 to 5 on issues that matter to you. Sign up for a launch invite.
	         		
	         			
		                <label for="email"></label>
				<% form_for :splash, @splash, :url => { :action => "create" } do |f| %>

		                <input name="splash[email]" id="email" type="email" value="Email" class="input" onfocus="if(this.value=='Email') this.value='';" />
				<center>
		                <input name="action" type="submit" value="Notify me" class="button" />
				</center>
				<% end %>
