<%= stylesheet_link_tag "groups" %> 
	    	
<div class="box">
 	<div class="boxcontent">
	 	<h1>Economy</h1>
	 	<hr />
 	<div class="plans">	
		 	
	<h3>The Problem</h3>
	<p>
		<strong>Wages stagnant as prices rise:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</p>
	<p>
		<strong>Taxes for wealthy instead of Middle Class:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</p>
	<hr />
	<h3>Barack Obama and Joe Biden's Plan</h3>

					
	<ul>
		<li><h4>Jumpstart the Economy</h4>
		<ul>
			<li>
				<div class="text">
					Enact a Windfall Profits Tax to provide a $1000 Emergency Energy Rebate to American families.
				</div>
				<div class="rating">
					<ul>
						<li><a href="#" title="1 out of 5" class="one-star">1</a></li>
						<li><a href="#" title="2 out of 5" class="two-stars">2</a></li>
						<li><a href="#" title="3 out of 5" class="three-stars">3</a></li>
						<li><a href="#" title="4 out of 5" class="four-stars">4</a></li>
						<li><a href="#" title="5 out of 5" class="five-stars">5</a></li>
					</ul>
					<span class="votes">18,294 votes</span>
				</div>
				<br class="clear" />
			</li>
			<li>
				<div class="text">
					Provide $50 billion to jump start the economy and prevent 1 million Americans from losing their jobs.
				</div>
				<div class="rating">
					<ul>
						<li><a href="#" title="1 out of 5" class="one-star">1</a></li>
						<li><a href="#" title="2 out of 5" class="two-stars">2</a></li>
						<li><a href="#" title="3 out of 5" class="three-stars">3</a></li>
						<li><a href="#" title="4 out of 5" class="four-stars">4</a></li>
						<li><a href="#" title="5 out of 5" class="five-stars">5</a></li>
					</ul>
					<span class="votes">18,294 votes</span>
				</div>
				<br class="clear" />
			</li>
		</ul>
		</li>
							
		
		<li><h4>Provide middle-class Americans tax relief</h4>
		<ul>
			<li>
				<div class="text">
					Enact a Windfall Profits Tax to provide a $1000 Emergency Energy Rebate to American families.
				</div>
				<div class="rating">
					<ul>
						<li><a href="#" title="1 out of 5" class="one-star">1</a></li>
						<li><a href="#" title="2 out of 5" class="two-stars">2</a></li>
						<li><a href="#" title="3 out of 5" class="three-stars">3</a></li>
						<li><a href="#" title="4 out of 5" class="four-stars">4</a></li>
						<li><a href="#" title="5 out of 5" class="five-stars">5</a></li>
					</ul>
					<span class="votes">18,294 votes</span>
				</div>
				<br class="clear" />
			</li>
			<li>
				<div class="text">
					Provide $50 billion to jump start the economy and prevent 1 million Americans from losing their jobs.
				</div>
				<div class="rating">
					<ul>
						<li><a href="#" title="1 out of 5" class="one-star">1</a></li>
						<li><a href="#" title="2 out of 5" class="two-stars">2</a></li>
						<li><a href="#" title="3 out of 5" class="three-stars">3</a></li>
						<li><a href="#" title="4 out of 5" class="four-stars">4</a></li>
						<li><a href="#" title="5 out of 5" class="five-stars">5</a></li>
					</ul>
					<span class="votes">18,294 votes</span>
				</div>
				<br class="clear" />
			</li>
		</ul>
		</li>
				
	</ul>
	<br class="clear"/>
	</div>
</div>
</div>