[submodule "vendor/rails"]
	path = vendor/rails
	url = git://github.com/rails/rails.git
[submodule "vendor/plugins/annotate_models"]
	path = vendor/plugins/annotate_models
	url = git://github.com/rotuka/annotate_models.git
[submodule "vendor/plugins/exception_notification"]
	path = vendor/plugins/exception_notification
	url = git://github.com/rails/exception_notification.git
[submodule "vendor/plugins/make_resourceful"]
	path = vendor/plugins/make_resourceful
	url = git://github.com/hcatlin/make_resourceful.git
[submodule "vendor/plugins/open_id_authentication"]
	path = vendor/plugins/open_id_authentication
	url = git://github.com/rails/open_id_authentication.git
[submodule "vendor/plugins/role_requirement"]
	path = vendor/plugins/role_requirement
	url = git://github.com/timcharper/role_requirement.git
[submodule "vendor/plugins/will_paginate"]
	path = vendor/plugins/will_paginate
	url = git://github.com/mislav/will_paginate.git
[submodule "vendor/plugins/rspec"]
	path = vendor/plugins/rspec
	url = git://github.com/dchelimsky/rspec.git
[submodule "vendor/plugins/rspec-rails"]
	path = vendor/plugins/rspec-rails
	url = git://github.com/dchelimsky/rspec-rails.git
[submodule "vendor/plugins/forgot_password"]
	path = vendor/plugins/forgot_password
	url = git://github.com/greenisus/forgot_password.git
[submodule "vendor/plugins/cucumber"]
	path = vendor/plugins/cucumber
	url = git://github.com/aslakhellesoy/cucumber.git
[submodule "vendor/plugins/webrat"]
	path = vendor/plugins/webrat
	url = git://github.com/brynary/webrat.git
[submodule "vendor/plugins/bundle-fu"]
	path = vendor/plugins/bundle-fu
	url = git://github.com/timcharper/bundle-fu.git
[submodule "vendor/plugins/restful-authentication"]
	path = vendor/plugins/restful-authentication
	url = git://github.com/laktek/restful-authentication.git
[submodule "vendor/plugins/aasm"]
	path = vendor/plugins/aasm
	url = git://github.com/rubyist/aasm.git
[submodule "vendor/plugins/acts_as_rateable"]
	path = vendor/plugins/acts_as_rateable
	url = git://github.com/azabaj/acts_as_rateable.git
[submodule "vendor/plugins/acts-as-rated"]
	path = vendor/plugins/acts-as-rated
	url = git://github.com/jasherai/acts-as-rated.git
