[submodule "vendor/rails"]
	path = vendor/rails
	url = git://github.com/rails/rails.git
[submodule "vendor/plugins/aasm"]
	path = vendor/plugins/aasm
	url = git://github.com/rubyist/aasm.git
[submodule "vendor/plugins/annotate-models"]
	path = vendor/plugins/annotate-models
	url = git://github.com/rotuka/annotate-models.git
[submodule "vendor/plugins/exception_notification"]
	path = vendor/plugins/exception_notification
	url = git://github.com/rails/exception_notification.git
[submodule "vendor/plugins/make_resourceful"]
	path = vendor/plugins/make_resourceful
	url = git://github.com/hcatlin/make_resourceful.git
