* {
		margin: 0;
		padding: 0;
}

body {
		color: #444;
		font-family: 'Lucida Grande',Arial,Helvetica,Sans-Serif;
		font-size: 0.75em;
		background: url(../images/bg.jpg) no-repeat scroll center top;
		background-color: #01245c;
}

h1, h2, h3, h4, h5 {
		font-weight:normal;
}

#header h1 {
        float: left;
        width: 218px;
        height: 180px;
        margin-left: 5px;
        text-indent: -9000px;
}
        
#header h1 a, #header h1 a:active, #header h1 a:link, #header h1 a:visited, #header h1 a:hover {
        display: block;
        width: 218px;
        height: 180px;
        margin-left: 5px;
        /* IE mouseover flicker fix */
        border-bottom: none;
}

h1 {
		margin: 10px 0;
		font-size: 2.9em;
		line-height: 1.0em;
		color: #004382;
}

h2 {
		margin: 10px 0;
        font-family: Georgia,'Times New Roman',Times,serif;
		font-size: 1.7em;
		line-height: 1.1em;
		color: #444;
}

h2 a, h2 a:active, h2 a:link, h2 a:visited {
		font-weight: normal;
}

h4 {
		margin: 4px 0;
}

a, a:active, a:link, a:visited {
        border-bottom: none;
        color: #004382;
        /*font-weight: bold;*/
        text-decoration: none;
}

a:hover {
        border-bottom: none;
        color: #ac3433;
		font-weight: bold;
}
p {
		margin: 15px 0;
}

hr {
		margin: 15px 0;
		border: 1px solid #f0f0f0;
}
strong {
		font-weight: bold;
		color: #222;
}

#spine {
		background-color: #0062A3;
		height: 30px;
		width: 100%;
}

#wrapper { 
		margin: 0 auto;
		margin-top: -30px;
		width: 960px;
}

#header {
		width: 960px;
		height: 202px;
		padding: 0;
		margin: 0;
		background: #01245c url(../images/header.jpg) no-repeat scroll;
}

#nav {
		width: 920px;
		height: 57px;
		background: #FFF;
		padding: 0 20px;
}

#nav ul {
		float: left;
        display: block;
		line-height: 57px;
		color: #eaeaea;
		list-style: none;
}

#nav ul li {
		float: left;
		margin-right: 5px;
		padding: 0 15px 0 10px;
		background: transparent url(../images/navline.gif) no-repeat scroll 100% 50%;
        font-size: 15px;
		letter-spacing: 2px;
		text-transform: uppercase;
}

#nav ul li:first-child {
		margin-left: 0;
}

#nav ul li:last-child {
		margin-right: 0;
		background: none;
}

#nav ul li a {
        text-decoration: none;
		text-transform: uppercase;
        color: #01245d;
	    font-weight: bold;        
}

#nav ul a:hover {
	    color: #ac3433;
}

#nav ul#user {
		float: right;
}

#nav ul li.home {
		margin-top: 11px;		
}

#nav ul li.home a {
		background: transparent url(../images/homeicon.jpg) no-repeat scroll 50% 50%;
		display: block;
		text-indent: -9999px;
		height: 32px;
		width: 32px;
		outline: none;
}

#content {
		width: 900px;
		min-height: 700px;
		padding: 15px 30px;
		background: #e1e3e6;
}

#footer { 
		width: 930px;
		height: 100px;
		margin: 0;
		padding: 15px;
		clear: both;
		background: #01245c url(../images/footerlogo.gif) no-repeat scroll 50% 15px;
		color: #CCC;
}

#footer a, #footer a:active, #footer a:link, #footer a:visited {
        color: #2070ad;
        font-weight: normal;
        border-bottom: none;
        text-decoration: none;
}

#footer a:hover {
        color: #F8F8F8;
        border-bottom: 1px dashed #F8F8F8;
}

#footer span#disclaimer {
		display: block;
		position: absolute;
		text-align: center;
		width: 930px;
		margin-top: 50px;
		font-size: 1.5em;
		text-transform: uppercase;
		letter-spacing: 2px;
		color: #CCC;
}

a:active{
		outline: none;
}

/* content */
.months{
		padding-left: 50px;
		padding-right: 50px;
}

.phototitlerate{
		padding-left: 50px;
		padding-right: 50px;
}
.titlerate{
		float: left;
		width: 180px;
}

.photo{
		width: 560px;
		float: left;
}
.box {
		width: 900px;
		margin-bottom: 20px;
		padding-top: 10px;
		background: #FFF url(../images/boxtop.gif) no-repeat top left;
}

.box h2 {
		margin: 0 0 5px 0;
		color: #db2a3a;	
}

.box div.boxcontent {
		min-height: 10px;
		padding: 5px 15px 10px 15px;
		background: #FFF url(../images/boxbottom.gif) no-repeat bottom left;
}

.featured {
		float: left;
		width: 405px;
		padding-right: 20px;
}

.more {
		width: 325px;
		border-left: 1px solid #004382;
		padding: 0 20px;
		margin-left: 20px;
		padding-left: 50px;		
}

.boxcontent h3 {
		color: #004382;
		font-weight: normal;
		font-size: 2.0em;
		line-height: 1.0em;
}

/*.boxcontent a {
		color: #004382;
		font-weight: normal;
}*/

.featured h3 {
		display: block;
		float: left;
		width: 285px;
}

.more h3 {
		margin-bottom: 3px;
		font-size: 1.5em;
		line-height: 1.0em;
}

.more .rating,
.more .rating ul,
.more .votes,
.moreissues .rating,
.moreissues .rating ul,
.moreissues .votes {
		float: left;
}

.more .meta {
		float: left;
		width: 230px;
}

.more .meta .star-ratings-block {
		float: left;
}

.more .photo {
		float: left;
		margin: 0 10px;
		width: 72px;
		color: #BBB;
		font-size: .85em;
}

.more .photo img {
		max-width: 72px;
		border: 3px solid #F0F0F0;
}

.more .photo img:hover {
		border: 3px solid #333;
}

/* issues */
ul.issues {
		float: left;
		width: 580px;
		margin: 10px 0;
		padding: 5px 0px;
		list-style: none;
		border-right: 1px solid #004382;
}

ul.issues li {
		float: left;
		width: 265px;
		margin: 0px 25px 0px 0;
		padding-bottom: 10px;
}

ul.issues h3 {
		display: block;
		float: left;
		width: 115px;
		font-size: 1.3em;
		line-height: 1.0em;
}

.boxcontent div.moreissues {
		float: left;
		width: 248px;
		margin: 10px 0;
		padding: 5px 20px;
		/*border-left: 2px solid #004382;*/
}

.boxcontent div.moreissues h3 {
		font-size: 1.5em;
		line-height: 1.0em;
}

ul#featured {
		margin: 10px;
		list-style: none;
}

ul#featured li {
		margin: 15px 0;
		color: #004382;
		font-weight: bold;
		font-size: 1.2em;
		line-height: 1.0em;
}

ul#featured li ul.issue {
		margin: 5px 15px;
		list-style: disc;
}

ul#featured li ul.issue li {
		font-size: 0.9em;
		line-height: 1.1em;
		font-weight: normal;
		margin: 0px 25px 0px 0;
}

ul#featured li ul.issue li blockquote {
		display: block;
		width: auto;
		margin: 15px 0;
		font-size: 0.8em;
}

ul#featured .rate {
		float: left;
}

#history {
		float: left;
		width: 370px;
}

#quotes {
		float: left;
		width: 458px;
		padding: 0 20px;
		border-left: 2px solid #f2f2f2;	
}

#quotes blockquote {
		float: left;
		width: 199px;
		padding: 0;
		background-color: #e7e7e7;
		margin: 15px 15px;
		background-image: url('../images/openquote.gif');
		background-position: top left;
		background-repeat: no-repeat;
}

#quotes blockquote span {
		display: block;
		min-height: 10px;
		padding: 45px 15px 15px 35px;
		background-image: url('../images/closequote.gif');
		background-repeat: no-repeat;
		background-position: bottom right;
}

#quotes blockquote span em.meta {
		display: block;
		float: right;
		font-style: normal;
		margin-top: 5px;
		color: #222;
}


.rating {
		width: 80px;
		float: left;
}

.rating ul {
		float: right;
		list-style: none;
		margin: 0;
		padding: 0;
		width: 80px;
		height: 16px;
		position: relative;
		background: url(../images/rating.gif) top left repeat-x;		
}

.rating ul li {
		padding: 0;
		margin: 0;
		height: 16px;
		width: 16px;
		float: left;
		list-style: none;
}

.rating ul li a {
		display: block;
		position: absolute;
		overflow: hidden;
		margin: 0;
		padding: 0;
		width: 16px;
		height: 16px;
		top: 0px;
		line-height: 16px;
		text-decoration: none;
		text-indent: -9000px;
		z-index: 20;
}

.rating ul li a:hover {
		background: url(../images/rating.gif) left center;
		z-index: 2;
		left: 0px;
		border: none;
}
.rating a.one-star {
		left: 0px;
}

.rating a.one-star:hover {
		width: 16px;
}

.rating a.two-stars {
		left: 16px;
}

.rating a.two-stars:hover {
		width: 32px;
}

.rating a.three-stars {
		left: 32px;
}

.rating a.three-stars:hover {
		width: 48px;
}

.rating a.four-stars {
		left: 48px;
}	

.rating a.four-stars:hover {
		width: 64px;
}

.rating a.five-stars{
		left: 64px;
}

.rating a.five-stars:hover {
		width: 80px;
}

.votes {
		float: right;\
		padding: 5px 0;
		text-align: right;
		color: #BBB;
		font-size: .85em;
}


br.clear {
		clear: both;
		display: block;
		height: 1px;
		margin: -1px 0 0 0
}

#nav ul#user {
  color: #000;
}

#idc-container .idc-new {
	float: none !important;
}

.comments {
	color:gray;
	/*padding-left:3px;*/
	text-align: auto;;
}

.comments a, .comments a:active, .comments a:link, .comments a:visited {
    border-bottom: none;
	color:gray;        
	/*font-weight: bold;*/
    text-decoration: none;
}

.signup_label {
	width: 100px;	
}