h1 {
		margin: 10px 0;
		font-size: 2.9em;
		line-height: 1.0em;
		color: #004382;
}

hr {
		margin: 15px 0;
		border: 1px solid #f0f0f0;
}

.box {
		width: 900px;
		margin-bottom: 20px;
		padding-top: 10px;
		background: #FFF url('/images/boxtop.gif') no-repeat top left;
}

.box h2 {
		margin: 0 0 5px 0;
		color: #db2a3a;	
}

.box div.boxcontent {
		padding: 5px 15px 10px 15px;
		background: #FFF url('/images/boxbottom.gif') no-repeat bottom left;
}

.boxcontent h3 {
		color: #004382;
		font-weight: normal;
		font-size: 2.0em;
		line-height: 1.0em;
}

.boxcontent a {
		color: #004382;
		font-weight: normal;
}

.boxcontent div.moreissues {
		float: left;
		width: 248px;
		margin: 10px 0;
		padding: 5px 20px;
		border-left: 2px solid #f2f2f2;
}

.boxcontent div.moreissues h3 {
		font-size: 1.5em;
		line-height: 1.0em;
}

.titlerate {
		float:left;
		width:580px;
}

#idc-container .idc-new {
	float: none !important;
}