.box {
		width: 900px;
		margin-bottom: 20px;
		padding-top: 10px;
		background: #FFF url('/images/boxtop.gif') no-repeat top left;
}

.box h2 {
		margin: 0 0 5px 0;
		color: #db2a3a;	
}

.box div.boxcontent {
		min-height: 10px;
		padding: 5px 15px 10px 15px;
		background: #FFF url('/images/boxbottom.gif') no-repeat bottom left;
}

.boxcontent h3 {
		color: #004382;
		font-weight: normal;
		font-size: 2.0em;
		line-height: 1.0em;
}

.boxcontent a {
		color: #004382;
		font-weight: normal;
}


.plans {
		/*padding: 0 35px;*/
}

.plans h4 {
		font-size: 1.3em;
		line-height: 1.0em;
		color: #004382;
}

.plans ul {
		/*margin: 15px 0;*/
		list-style: none;
}

.plans ul li ul {
		margin: 15px 35px;
		
}

.plans ul li ul li {
		margin: 10px 35px 10px 0;
		width: 665px;
}

.plans ul li ul li .rating ul {
		margin: 0;
}

.plans ul li ul li .rating ul li {
		width: auto;
}

.plans ul li ul li .text {
		float: left;
		width: 500px;
		font-size: 1.2em;
}