.box {
		width: 900px;
		margin-bottom: 20px;
		padding-top: 10px;
		background: #FFF url('/images/boxtop.gif') no-repeat top left;
}


.box h2 {
		margin: 0 0 5px 0;
		color: #db2a3a;	
}

.box div.boxcontent {
		min-height: 10px;
		padding: 5px 15px 10px 15px;
		background: #FFF url('/images/boxbottom.gif') no-repeat bottom left;
}

.boxcontent h1 {
		margin: 0px;
}

.boxcontent h3 {
		color: #004382;
		font-weight: normal;
		font-size: 2.0em;
		line-height: 1.0em;
}

.boxcontent a {
		color: #004382;
		font-weight: normal;
}


.plans {
		/*padding: 0 35px;*/
}

.plans h4 {
		font-size: 1.3em;
		line-height: 1.0em;
		color: #004382;
}

.plans ul {
		list-style: none;
}

.plans ul li {
		margin: 0px 25px 0px 0;
		width:700px;
}

.plans ul li .text {
		float: left;
		width: 535px;
}

.plans ul li .rating ul {
		margin: 0;
}

.plans ul li .rating ul li {
		width: auto;
}
 
.bullets-list {
		margin: 15px 35px;
}

.plans ul li ul li {
		width: 665px;
}

.plans ul li ul li .text {
		float: left;
		width: 500px;
		font-size: 1.2em;
}