#user_name_login {
	text-align: center;
	color:#222222;
	font-family:"Lucida Grande",verdana,arial,helvetica,sans-serif;
}

#user_name_login h1 {
	border-bottom:0 none;
	color:#333333;
	font-family:"Lucida Grande",arial,sans-serif;
	font-size:16px;
	font-weight:bold;
	margin:0;
	padding:0;
}

#user_name_login h2 {
	color:#333333;
	font-family:"Lucida Grande",arial,sans-serif;
	font-size:14px;
	margin:20px 0 5px;
	padding:0;
}

#user_name_login h2 {
	color:#333333;
	font-family:"Lucida Grande",arial,sans-serif;
	font-size:14px;
	margin:20px 0 5px;
	padding:0;
}

#user_name_login input {
	padding:3px;
}

#user_name_login p {
	font-size:12px;
	line-height:16px;
}