#user_signup {
	width: 400px;
}

#user_signup  ul li {
	display: inline;
	padding-right: 10px;
	float: left;
}

#user_signup  ul li label {
	font-family:Georgia,'Times New Roman',Times,serif;
	font-size:1.7em;
	line-height:1.1em;
}

#user_signup  ul li label.affiliation {
	font-family:Georgia,'Times New Roman',Times,serif;
	font-size:0.85em;
	line-height:0.6em;
}

#user_signup ul li div{
	width: 185px;
	height: 55px;
}

#user_signup ul li div.recaptcha {
	width: 370px;
	height: 135px;
	text-align: center;
}

#user_signup ul li div.openidurl {
	width: 370px;
	height: 65px;
	text-align: center;
}

#user_signup ul li div.submitbutton {
	padding-top: 20px;
	width: 370px;
	height: 65px;
	text-align: center;
}