<%= stylesheet_link_tag "signup" %>
<div class="box">
<div class="boxcontent">
<h3> You have successfully signed up. Please check your email (<%=@user.email%>) to activate and start rating.</h3>
<p> We currently require signup to validate the user so future reports are accurate and unskewed. However, comments may be posted anonymously without signing up.</p>
</div>
</div>
