<%= stylesheet_link_tag "signup" %>
<div class="box">
<div class="boxcontent">
<h3> You have successfully signed up. Please check your email (<%=@user.email%>) to activate and start rating.</h3>
<p> We currently require signup to submit ratings so we can prove that the ratings (and subsequent reports) are accurate and legitimate. However, comments may be posted anonymously without signing up.</p>
</div>
</div>
