<div class="box">
<div class="boxcontent">
<h3>"It can't happen without you, without a new spirit of service, a new spirit of sacrifice. So let us summon a new spirit of patriotism, of responsibility, where each of us resolves to pitch in and work harder and look after not only ourselves but each other."
</h3><h2><br>
-Barack Obama<br>
Nov 4, 2008<br>
Grant Park<br>
Chicago, IL
</h2>
</div>
</div>