<div class="box">
<div class="boxcontent">
<table>
<tr>
<td width = "450px" valign="top">
	<h1>It's simple to use.</h1><br>
	<%= render :partial => 'ratings/rate_guide', :locals => {:align => 'left'} %>	
	<br><br><br><br>
		<h3>Watch our 1 minute video.</h3><br>
	<object width="400" height="300"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=6263733&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=6263733&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="400" height="300"></embed></object>
	
</td>
<td>
	<h3>The Basics</h3>

	As Obama’s 1-year anniversary in office arrives, TabsOnObama.org aims to revamp the presidential approval rating with a Netflix-like rating system. TabsOnObama.org is a non-profit service that asks visitors to rate how they feel the Obama administration has performed thus far in comparison to the campaign promises he outlined before he took office.

	Do you feel Obama as failed to stick to his healthcare promises? Give him a 1 or 2. Think he followed his word on preventing nuclear terrorism? Double check what he said in 2008 by digging into the site’s section on Homeland Security, and if you feel he has followed his original plan, give him a 4 or 5. The results are then tallied together and an average rating is immediately given along with the total number of votes.

	Visitors to the site also have the chance to rate cabinet members and President Obama´s weekly addresses to the nation. You can also leave thoughts pertaining to various aspects of the Administration using a commenting system, which allows the highest ranked comments to be listed first.
	<br><br>
	<h3>The Story</h3>

	The founders and former Obama campaign volunteers, Chirag Patel and Matt Danzico, took a snapshot of BarackObama.com in 2008 and posted each of Obama’s campaign promises on TabsOnObama.org.

	The project has two objectives: (1) to hold the Obama Administration accountable in terms of the many campaign promises it laid out before the election as well as (2) to provide the Obama Administration itself unfiltered and comprehensive feedback on what Americans are thinking.

	Patel says, “Basically it’s the presidential approval rating in 2.0. The site offers a greater degree of insight into issues compared to the simple approval rating percentage provided by traditional polls.”

	Independently run by its founders, the website remains unbiased by not accepting any corporate donations or generating any advertising revenue. The site was created with the help of a handful of concerned volunteers across the United States.

	“We hope to use interactive web to promote a transparent, instantaneous, and participatory government never previously thought possible. As Obama´s one-year anniversary in office approaches, this is the best time to make the Administration´s track record ratable and visible by all,” says Danzico.	
</td>
</table>
<hr>
<table>
<tr>
<td width="400px" valign="top">
	<br>
	<font size="4">"It can't happen without you, without a new spirit of service, a new spirit of sacrifice. So let us summon a new spirit of patriotism, of responsibility, where each of us resolves to pitch in and work harder and look after not only ourselves but each other."</font>
	<br><br><br>
	<h3>
	-Barack Obama<br></h3>
	<h4>
	Nov 4, 2008<br>
	Grant Park<br>
	Chicago, IL<br></h4>
	<br>
</td>
<td>
	<table cellpadding="20">			
	<tr>
		
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Contact us at<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font size="5"><a href="mailto:contact@tabsonobama.org">contact@tabsonobama.org</a><br></font>
	<tr>
	<tr>
		<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		Follow us on<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<%= link_to image_tag("twitter.png", :border=>0), "http://www.twitter.com/tabsonobama" %>
	</tr>
	<tr>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Comment or digg our<br> 
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<%= link_to image_tag("http://i.cdn.turner.com/ireport/static/themes/custom/resources/irb/banner.gif", :border=>0), "http://www.ireport.com/docs/DOC-249340" %>
	</tr>
	</table>
</td>
</tr>
</table>
<hr>

</div>
</div>