<div class="box">
<div class="boxcontent">
<h1>It's simple.</h1>
<%= render :partial => 'ratings/rate_guide', :locals => {:align => 'left'} %>	
<hr>
<br>
<h3>"It can't happen without you, without a new spirit of service, a new spirit of sacrifice. So let us summon a new spirit of patriotism, of responsibility, where each of us resolves to pitch in and work harder and look after not only ourselves but each other."
</h3><h2><br>
Barack Obama<br></h2>
<h4>
Nov 4, 2008<br>
Grant Park<br>
Chicago, IL<br></h4>
<br>
<hr>
<h3>
Follow us on</h3> 
<%= link_to image_tag("twitter.png", :border=>0), "http://www.twitter.com/tabsonobama" %>
</h2>
</div>
</div>