<div class="box">
<div class="boxcontent">
<h1>It's simple.</h1>
<%= render :partial => 'ratings/rate_guide', :locals => {:align => 'left'} %>	
<hr>
<br>
<h3>"It can't happen without you, without a new spirit of service, a new spirit of sacrifice. So let us summon a new spirit of patriotism, of responsibility, where each of us resolves to pitch in and work harder and look after not only ourselves but each other."
</h3>
<br>
<h2>
Barack Obama<br></h2>
<h4>
Nov 4, 2008<br>
Grant Park<br>
Chicago, IL<br></h4>
<br>
<hr>
<h3>
Watch our trailer:
</h3>
<br>
<object width="400" height="300"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=6263733&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=6263733&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="400" height="300"></embed></object>
<br><br>
<table>
<tr>
<td>
<h3>
Contact us at <br>
</h3>
<a href="mailto:contact@tabsonobama.org">contact@tabsonobama.org</a>
</td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</td>
<td>
<h3>
Follow us on</h3> <br>
<%= link_to image_tag("twitter.png", :border=>0), "http://www.twitter.com/tabsonobama" %>
</td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</td>
<td>
<h3>
Comment or digg our</h3><br> 
<%= link_to image_tag("http://i.cdn.turner.com/ireport/static/themes/custom/resources/irb/banner.gif", :border=>0), "http://www.ireport.com/docs/DOC-249340" %>
</td>
</tr>
</table>

</div>
</div>