
<div id="boxcontent">
	<% WeeklyRadioAddress.find(:all).each do |wra| %>
        <div class="box">
                <div class="boxcontent">
                <h1><%= "#{wra.timestamp.strftime("%B %d %Y")}" %></h1>
                <br/>
                        <div class="phototitlerate">
                                <div class="photo">
                                        <object height="295" width="480">
                                        <param value="<%= "#{wra.youtube_link}" %>" name="movie"/>
                                        <param value="true" name="allowFullScreen"/>
                                        <param value="always" name="allowscriptaccess"/>
                                        <embed height="295" width="480" allowfullscreen="true" allowscriptaccess="always" type="application/x-shockwave-flash" src="<%= "#{wra.youtube_link}" %>"/>
                                        </object>
                                </div>
                                <div class="titlerate">
                                        <h3><%= "#{wra.description}" %></h3>
                                        <br>
                                                <div class="rating">
                                                        <ul>
                                                                <li><a href="#" title="1 out of 5" class="one-star">1</a></li>
                                                                <li><a href="#" title="2 out of 5" class="two-stars">2</a></li>
                                                                <li><a href="#" title="3 out of 5" class="three-stars">3</a></li>
                                                                <li><a href="#" title="4 out of 5" class="four-stars">4</a></li>
                                                                <li><a href="#" title="5 out of 5" class="five-stars">5</a></li>
                                                        </ul>
                                                        <span class="votes">18,294 votes</span>
                                                </div>
                                </div>
                        </div>
                <br class="clear" />
                <br class="clear"/>
                </div>
        </div>
	<% end %>
</div>