<script>
var idcomments_acct = '7d00228f0588781edfd3d1326d9f11cb';
var idcomments_post_id = '<%= "#{ENV['RAILS_ENV']}-#{model.class.to_s}-#{model.id}" %>';
var idcomments_post_url;
</script>
<span id="<%= "#{ENV['RAILS_ENV']}-#{model.class.to_s}-#{model.id}" %>" style="display:none"></span>
<script type='text/javascript' src='http://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>