development:
  # # Sqlite Settings
  # adapter: sqlite3
  # database: db/development.sqlite3
  # pool: 5
  # timeout: 5000
  adapter: mysql
  encoding: utf8
  database: obama_development
  username: root
  password:
  pool: 5
  socket: '/opt/local/var/run/mysqld/mysqld.sock'
  
test:
  # # Sqlite Settings
  # adapter: sqlite3
  # database: db/test.sqlite3
  # pool: 5
  # timeout: 5000
  # Mysql Settings
  adapter: mysql
  encoding: utf8
  database: obama_test
  username: root
  password:
  pool: 5
  socket: '/opt/local/var/run/mysqld/mysqld.sock'
  
staging:
  # # Sqlite Settings
  # adapter: sqlite3
  # database: db/staging.sqlite3
  # pool: 5
  # timeout: 5000
  adapter: mysql
  encoding: utf8
  database: obama_staging
  username: root
  password:
  pool: 5
  socket: '/opt/local/var/run/mysqld/mysqld.sock'
  
production:
  # # Sqlite Settings
  # adapter: sqlite3
  # database: db/production.sqlite3
  # pool: 5
  # timeout: 5000
  adapter: mysql
  encoding: utf8
  database: obama_production
  username: root
  password:
  pool: 5
  socket: '/opt/local/var/run/mysqld/mysqld.sock'
  