<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Netflix-like ratings for Obama's first year'</title>
</head>
<body>
<div class="box">
<div class="boxcontent">
<center>
<p align="center">FOR IMMEDIATE RELEASE</p>
<br>
<table>
<tr><td>Chirag Patel</td><td width="30px"><td>Matthew Danzico<td></tr>
<tr><td>chirag@tabsonobama.org</td><td><td>matt@tabsonobama.org<td></tr>
<tr><td>917/817-8864</td><td><td>917/536-7889<td></tr>
</table>
<table width="600px" align="center">
<td>
<p align="center">&nbsp;</p>
<p align="center"><strong>TABSONOBAMA.ORG ASKS CITIZENS TO RATE OBAMA’S FIRST YEAR WITH A NETFLIX-LIKE RATING SYSTEM </strong></p>
<p align="center"><em>On Obama’s one-year anniversary, TabsOnObama.org asks ordinary citizens to rate the Obama Administration´s performance using a powerful, interactive rating system.</em></p>
<p><strong>New York, NY – </strong>As Obama’s first year in office approaches, TabsOnObama.org revamps the presidential approval rating with a Netflix-like rating system.&nbsp; TabsOnObama.org (www.tabsonobama.org) is a non-profit website that asks visitors to rate various aspects of the Obama a dministration on a scale of one to five. </p>
<p>Visitors to the site have the chance to rate campaign promises, cabinet members, and President Obama´s weekly addresses to the nation. The results are tallied together and an average rating is immediately given along with the total number of votes. </p>
<p>Visitors can also leave thoughts pertaining to various aspects of the Administration using an advanced commenting system, which allows the highest ranked comments to be listed first. “I'm fairly happy with what Obama’s done with healthcare and rated his campaign promise a four,” said New York City resident Lawrence Fung. </p>
<p>The project has two objectives: (1) to hold the Obama Administration accountable and to its word in terms of the many campaign promises it laid out before the election as well as (2) to provide the Obama Administration itself unfiltered and comprehensive feedback on what Americans are thinking. </p>
<p>Co-founder Chirag Patel states, “Basically it’s the presidential approval rating in 2.0. The site offers a greater degree of insight into issues compared to the simple approval rating percentage provided by traditional polls.”</p>
<p>Independently run by its founders, the website remains unbiased  by not accepting any corporate donations or generating any advertising revenue. The site was created with the help of a handful of concerned volunteers across the United States. “As Obama´s one-year anniversary in office approaches, this is the best time to make the Administration´s track record rateable and visible by all,” says co-founder Matthew Danzico. </p>
<p align="center"><strong>###</strong> </p>
<p>For more information, visit <a href="http://www.tabsonobama.org/about">www.tabsonobama.org/about</a> to watch a video. To schedule an interview with one of the site´s founders, please use the contact information above.</p>
</td>
</table>
</center>
</div>
</div>
</body>
</html>